{% extends 'base.html' %}

{% block content %}

{% load index %}

<div class="container-fluid col-md-12">
    <div class="page_header">
        <h1>Vizualizare Elev</h1>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class = "col-md-5 float_left">
            <h3>Nume: {{elev.nume}}</h3>
            <h3>Prenume: {{elev.prenume}}</h3>
            <h3>An: {{elev.an}}</h3>
            <a class="btn btn-primary" href="/elev/{{elev.idelev}}/modify">Modificare elev</a>
        </div>
        <div class = "col-md-7 float_right">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Disciplina</th>
                        <th>Profesor</th>
                    </tr>
                </thead>
                <tbody>
				{% for disciplina in discipline %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <tr class="table-active">
                    {% else %}
                    <tr>
                    {% endif %}
					    <td>{{forloop.counter}}</td>
					    <td>{{disciplina.nume}}</td>
					    <td>{{disciplina.profesor.nume}} {{disciplina.profesor.prenume}}</td>
					    <td>
					        <a href="/disciplina/{{disciplina.iddisciplina}}" class="btn btn-primary float_right">Vizualizare Disciplina</a>
					    </td>
					</tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/elev/{{elev.idelev}}/add_aranjament" class="btn btn-primary float_right">Adaugare Disciplina</a>
            <a href="/elev/{{elev.idelev}}/del_aranjament" class="btn btn-primary float_right">Elimina Disciplina</a>
        </div>
    </div>
</div>

{% endblock %}