{% extends 'base.html' %}

{% block content %}

{% load index %}

<div class="container-fluid col-md-12">
    <div class="page_header">
        <h1>Vizualizare Disciplina</h1>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class = "col-md-5 float_left">
            <h3>Nume: {{disciplina.nume}}</h3>
            <h3>Profesor: {{disciplina.profesor.nume}} {{disciplina.profesor.prenume}}</h3>
            <a class="btn btn-primary" href="/disciplina/{{disciplina.iddisciplina}}/modify">Modificare Disciplina</a>
            <a class="btn btn-primary" href="/profesor/{{disciplina.profesor.idprofesor}}">Vizualizare Profesor</a>
        </div>
        <div class = "col-md-7 float_right">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nume</th>
                        <th>Prenume</th>
                        <th>An</th>
                    </tr>
                </thead>
                <tbody>
				{% for elev in elevi %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <tr class="table-active">
                    {% else %}
                    <tr>
                    {% endif %}
					    <td>{{forloop.counter}}</td>
					    <td>{{elev.nume}}</td>
					    <td>{{elev.prenume}}</td>
                        <td>{{elev.an}}</td>
					    <td>
					        <a href="/elev/{{elev.idelev}}" class="btn btn-primary float_right">Vizualizare Elev</a>
					    </td>
					</tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/disciplina/{{disciplina.iddisciplina}}/add_aranjament" class="btn btn-primary float_right">Adaugare Elev</a>
            <a href="/disciplina/{{disciplina.iddisciplina}}/del_aranjament" class="btn btn-primary float_right">Elimina Elev</a>
        </div>
    </div>
</div>

{% endblock %}